#header-ranking {
  background-color: #EB3535;
}

.background-ranking {
  background: rgb(238,54,54);
  background: linear-gradient(180deg, rgba(238,54,54,1) 1%, rgba(136,31,31,1) 100%);
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.imagem-decorativa {
  position: fixed; /* Fixa a imagem na tela */
  bottom: 0; /* Alinha a imagem ao rodapé da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste para centralizar perfeitamente */
  z-index: 1; /* Coloca a imagem atrás do conteúdo */
  width: 500px; /* Ajuste o tamanho conforme desejado */
  height: auto; /* Mantém a proporção da imagem */
  pointer-events: none; /* Evita interferência na interação do usuário */
  opacity: 0.8; /* Ajuste a opacidade conforme necessário */
}


.ranking-page {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2; /* Garante que o conteúdo fique na frente da imagem */
}

.logo-ranking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-ranking img {
  width: 260px;
  padding: 30px;
  max-height: auto;
  margin-top: 30px;
  transition: transform 0.6s ease; /* Transição suave */
}

.logo-ranking img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Aumenta a imagem em 10% ao passar o mouse */
}

.titulo-ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: underline;
  font-size: 1.2rem;
  font-family: "matrix", Georgia, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* PARTE 1 */

.descricao-rank {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
}

.descricao-rank img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.fundo-rank1 {
  background-color: #58080885;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  width: 350px; /* Defina uma largura fixa para a caixa de nome */
  text-align: center; /* Alinhe o texto ao centro (opcional) */
  padding-left: 20px; /* Espaço à esquerda */
}

.jogador-rank {
  font-size: 1.6rem;
  font-family: "matrix", Georgia, sans-serif;
  color: #fff;
}


.fundo-rank2 {
  background-color: #58080885;
  padding: 8px;
  border-radius: 10px;
  width: 100px; /* Defina uma largura fixa para a caixa de pontos */
  text-align: center; /* Alinhe o texto ao centro (opcional) */
}
  
.total-rank {
  font-size: 1.6rem;
  font-family: "matrix", Georgia, sans-serif;
  color: #fff;
}

/* PARTE 2 NOMES */

.descricao-rank-nomes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
}

.descricao-rank-nomes img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.fundo-rank-nomes1 {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  width: 350px; /* Defina uma largura fixa para a caixa de nome */
  text-align: left; /* Alinhe o texto ao centro (opcional) */
  padding-left: 20px; /* Espaço à esquerda */
}

.jogador-rank-nomes {
  font-size: 1.6rem;
  font-family: "matrix", Georgia, sans-serif;
  color: #580808;
}


.fundo-rank-nomes2 {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  width: 100px; /* Defina uma largura fixa para a caixa de pontos */
  text-align: center; /* Alinhe o texto ao centro (opcional) */
}
  
.total-rank-nomes {
  font-size: 1.6rem;
  font-family: "matrix", Georgia, sans-serif;
  color: #580808;
}

/*FOOTER */

.footer-ranking {
background-color: #580808;
  padding: 3px;
  grid-area: footer;
  bottom: 0;
}

.footer-ranking p {
  color: #fff;
  text-align: center;
  padding: 3px;
  font-size: 0.8rem;
}

.footer-ranking a {
  color: #fff;
  transition: 0.3s;
}

.footer-ranking a:hover {
  color: #ff3333;
}