@import url(background.css);

body,
p,
h1,
h2,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Ubuntu", Georgia, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

strong {
  font-family: "matrix", Georgia, sans-serif;
  color: rgb(253, 42, 42);
}


/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}

/* HEADER */

.header {
  font-family: 'DM Serif Display', serif;
  grid-area: header;
  background: rgb(156, 156, 156);
  background: linear-gradient(0deg, rgba(156, 156, 156, 0) 0%, #9c050517 100%);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 80px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  background: #2c2c2c8c;
  border-radius: 7px;
  font-size: 1.09rem;
  transition: 0.2s ease-out;
}

.header nav a:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px -11px rgba(112, 3, 3, 0.596);
}

.header li + li {
  margin-left: 30px;
}

@media (max-width: 420px) {
  .header {
    grid-template-columns: auto;
  }
  .logo {
    margin-bottom: 20px;
  }
  .header nav a {
    font-size: 1em;
  }
  .header li + li {
    margin-left: 10px;
  }
}

@media (max-width: 760px) {
  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}


/*CONTENT */

.content {
  grid-area: content;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 1vw;
}

.gallery-items {
width: 300px;
height: 260px;
border: 8px solid #fff;
box-shadow: 5px 5px 5px #0006;
flex-grow: 1;
transition: 0.2s;


}

.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.galeria {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
  padding: 5px;
  margin: 30px;
  text-align: center;
  font-size: 3em;
  background: linear-gradient(to top, #fffcfb, #ff3300, #f83218);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px #ff1e001c;

}




.presencial {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  padding: 12px;
  text-align: center;
  font-size: 5em;
}

.presencial, .titulo {
  visibility: hidden;
}

@media (max-width: 550px) {
  .presencial {
    font-size: 2.2em;
  }
}

.camp-presencial {
  margin: 20px 0px 5px 0px;
  border: 3px solid rgb(88, 22, 22);
}

@media (max-width: 600px) {
  content {
    grid-template-columns: auto;
  }
}

.paragrafo {
  
  background: rgb(87, 11, 5);
  background: linear-gradient(
    158deg,
    rgba(87, 11, 5, 0.13489145658263302) 0%,
    rgba(36, 35, 35, 0.85) 21%,
    rgba(36, 35, 35, 0.85) 100%
  );
  box-shadow: 0px 0px 20px -11px rgba(112, 3, 3, 0.596);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
}

.col-wide {
  grid-column: 1 / -1;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo img {
  max-width: 350px;
  align-self: center;
}

@media (max-width: 500px) {
  .titulo img {
    max-width: 270px;
  }
}

.titulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo2 img {
  max-width: 180px;
  align-self: center;
}

/* ESTILOS CONTENT */

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.botao-header {
  list-style: none;
  background-color: #242323;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 auto;
  transition: 0.5s ease-out;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(138, 17, 8);
  border-left: 10px solid rgb(138, 17, 8);
}

.botao-header:hover {
  border: 1px solid rgb(20, 109, 211);
  border-left: 10px solid rgb(20, 109, 211);
  scale: 1.2;
}

/*FOOTER */

.footer {
  grid-area: footer;
}

.footer p {
  color: white;
  text-align: center;
  padding: 5px;
}

.footer a {
  color: rgb(248, 224, 223);
  transition: 0.3s;
}

.footer a:hover {
  color: #9b2118;
}

.botao-flutuante {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  position: fixed;
  right: 10px; /* Define a distância do canto esquerdo */
  border-radius: 50%;
  z-index: 9999;
  margin-bottom: 10px; /* Espaço entre os botões */
}

.botao-1 {
  background-image: url("../imgs/icons\ rede\ social/icon-whatsapp.svg");
  bottom: 60px;
  transition: 0.2s;
}

.botao-1:hover {
  background-image: url("../imgs/icons\ rede\ social/icon-whats-RED.svg");
  scale: 1.1;
}

.botao-2 {
  background-image: url("../imgs/icons\ rede\ social/icon-instagram.svg");
  bottom: 110px;
  transition: 0.2s;
}

.botao-2:hover {
  background-image: url("../imgs/icons\ rede\ social/icon-instagram-RED.svg");
  scale: 1.1;
}

.botao-3 {
  background-image: url("../imgs/icons\ rede\ social/icon-discord.svg");
  bottom: 160px;
  transition: 0.2s;
}

.botao-3:hover {
  background-image: url("../imgs/icons\ rede\ social/icon-discord-RED.svg");
  scale: 1.1;
}
